
.card-container {
  display: flex;
  overflow: hidden; /* Скрываем карточки вне видимой области */
}
.card {
  display: none; /* Скрываем карточки по умолчанию */
}
.visible {
  display: block; /* Отображаем карточки, которые должны быть видимы */
}