body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.card-container {
  display: flex;
  overflow: hidden; /* Скрываем карточки вне видимой области */
  width: 80%; /* Ширина контейнера */
  
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 5px;
  min-width: 200px; /* Минимальная ширина карточки */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: none; /* Скрываем карточки по умолчанию */
}
.visible {
  display: block; /* Отображаем карточки, которые должны быть видимы */
}
.button {
  margin: 10px;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}