.checkbox {
	display: none;
}

.slider {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 24px;
	border-radius: 24px;
	transition: border-color 0.2s;
}

.slider:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dce1e9;
	border-radius: 18px;
	transition: background-color 0.2s;
}

.slider:after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	left: 1px;
	bottom: 4px;
	border-radius: 50%;
	transition: transform 0.2s;
	background-color: #9ca5b3;
}

.checkbox:checked + .slider:before {
	background-color: #e4ecf8;
	border: 1px solid #2e58db;
}

.checkbox:checked + .slider:after {
	transform: translateX(26px);
	background-color: #2e58db;
}

.slider:hover {
	border-color: #888888;
}
@media (max-width: 360px) {


}