.inputRange {
	.inputRange__title {
		background-color: white;
		border-radius: 16px 16px 0 0;
		padding: 10px 0 0 16px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		color: #646970;
	}

	.inputRange__value {
		background-color: white;
		width: 494px;
		padding: 0 0 0 16px;
		font-size: 17px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
	}

	.inputRange__input {
		width: 494px;
		background: linear-gradient(to bottom, white 50%, #f3f6fb 50%);
	}

	.inputRange__range {
		display: flex;
		justify-content: space-between;
		width: 494px;
	}

	.inputRange__range p {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		color: #646970;
	}
}

input[type='range'].styled-slider {
	height: 22px;
	-webkit-appearance: none;
}

input[type='range'].styled-slider.slider-progress {
	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--value) - var(--min)) / var(--range));
	--sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type='range'].styled-slider:focus {
	outline: none;
}

/* Webkit */
input[type='range'].styled-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 1em;
	background: #2e58db;
	border: none;
	box-shadow: none;
	margin-top: calc(2px * 0.5 - 20px * 0.5);
}

input[type='range'].styled-slider::-webkit-slider-runnable-track {
	height: 2px;
	background: #9ca5b3;
}

input[type='range'].styled-slider.slider-progress::-webkit-slider-runnable-track {
	background: linear-gradient(#2e58db, #2e58db) 0 / var(--sx) 100% no-repeat, #9ca5b3;
}

/* Mozilla */
input[type='range'].styled-slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 1em;
	background: #2e58db;
	border: none;
}

input[type='range'].styled-slider::-moz-range-track {
	height: 2px;
	background: #9ca5b3;
}

input[type='range'].styled-slider.slider-progress::-moz-range-track {
	background: linear-gradient(#2e58db, #2e58db) 0 / var(--sx) 100% no-repeat, #9ca5b3;
}

/* MS */
input[type='range'].styled-slider::-ms-fill-upper,
input[type='range'].styled-slider::-ms-fill-lower {
	background: transparent;
	border-color: transparent;
}

input[type='range'].styled-slider::-ms-thumb {
	width: 20px;
	height: 20px;
	border-radius: 1em;
	background: #2e58db;
	border: none;
	box-shadow: none;
}

input[type='range'].styled-slider::-ms-track {
	height: 2px;
	background: #9ca5b3;
}

/* Progress for MS */
input[type='range'].styled-slider.slider-progress::-ms-fill-lower {
	height: 2px;
	background: #2e58db;
}

@media (max-width: 768px) {
	.inputRange {
		.inputRange__title {
			/* Вынесено, так как не изменяется в медиазапросе */
		}

		.inputRange__value {
			width: 328px;
		}

		.inputRange__input {
			width: 328px;
			background: linear-gradient(to bottom, white 50%, #e4ecf8 50%);
		}

		.inputRange__range {
			width: 328px;
		}
	}
}
